.NotFoundStyle{
    background-color: violet;
    margin: 10% auto 0 auto;
    padding: 20px;
    text-align: center;
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrong{
    color: red;
}