.cart-img{
    width: 12rem;
    margin: 10px 30px 10px 20px;
    padding: 20px;
}
.cart-style{
    text-align: center;
    margin: 20px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid cyan;
    box-shadow: 3px 3px 6px gray;
}

.cart-style:hover{
    background-color: wheat;
    cursor: pointer;
}

